* {
    background-color:black;
}

#Gallery {
    background-color: darkslategray;

}

body {
  color: white;
}

.item {
    background-color: darkslategray;
}

.image {
    background-color: darkslategray;
    color: white;
    border-style: solid;
}
