* {
    background-color:black;
}

#Gallery {
    background-color: darkslategray;

}

body {
  color: white;
}

.item {
    background-color: darkslategray;
}

.image {
    background-color: darkslategray;
    color: white;
    border-style: solid;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: grey;
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.navbar li a:link, .navbar li a:visited {
  background-color: #f44336;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.navbar li a:hover, .navbar li a:active {
  padding: 8px;
  display: inline-block;
  background-color: red;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info {
 text-shadow: 4px 4px 5px red;
 font-size: 50px;
 display: inline;
 text-indent: 50px;
 background-color: grey;
 padding-left: 25px;
}

.numdisplay {
  text-shadow: 4px 4px 5px red;
  font-size: 50px;
}

p.#hi {
  text-shadow: 4px 4px 5px red;
  font-size: 50px;
}

.flex-container {
  display: flex;
}

.button{
  background-color: white;
}
